@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@300&display=swap');

body {
    font-family: 'Dancing Script', cursive;
    background-image: url("https://images3.alphacoders.com/869/thumb-1920-869197.jpg");

    margin: auto;
    
}



.input-style {
    text-align: center;
}

.textArea {
    width: 50%;
    height: 10vh;
    margin: auto;
    border: 1px solid black;
    display: block;
    padding: 1rem,1rem;
    border-radius: 0.5rem;

}

#output {
    background-color: white;
    border: 1px solid black;
    height: 10vh;
    width: 50%;
    display: block;
    margin: auto;
    padding: 1rem;
    border-radius: 0.5rem;
}

.heading {
    text-align: center;
}

.heading-color {
    background-color: rgba(128, 0, 128, 0.445);
    height: 10vh;
    padding: 1rem 0.5rem;
    margin-bottom: 2rem;
}

.output-text {
    font-size: larger;
    text-align: center;
    padding: 2rem;
}

#btn-translate {
    background-color: rgba(0, 0, 0, 0.377);
    padding: 0.3rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    width: 90px;
}

.button-style {
    text-align: center;
}

.imager .image-styling {
    max-width: 200%;
    max-width: 400px;
  
}

.imager {
    text-align: center;
    padding: 1rem;
}


